<ng-container *ngIf="data; else loading"> <!-- si on a pas de donnees en affiche un message "...." -->


<h1>{{title}} </h1>
<div class="container">
  <div class="row">

<!--******* Affichage des donnees *******************************-->
  <div class="col-lg-7">
          <table class="table table-hover">
              <thead>
                    <tr class="thead-light">
                        <th *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
                        <th><button class="btn btn-outline-primary btn-sm" (click)="operation = 'add'; init();">ADD</button></th>
                    </tr>

              </thead>
              <tbody>
                  
                    <tr *ngFor="let item of data">
                        <td *ngFor="let dataModel of dataModelList">{{item[dataModel.columnName]}}</td>
                        <!-- <td>{{produit.quantite}}</td>
                        <td>{{produit.prixUnitaire}}</td> -->
                        <td>
                            <button class="btn btn-outline-primary" (click)="operation = 'edit'; selectedItem = item ; ">Edit</button>
                            <button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedItem= item;">Remove</button>
                      </td>
                    </tr>
                
              </tbody>
            
           
          </table>
  </div>

<!--***** voila formulaire ************************************-->
  <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
        {{    operation == 'add' ? 'Ajouter':
              operation == 'edit' ? 'Modifier':
              operation == 'remove' ? 'Supprimer' : ''
        }}
          
        </div>
        <div class="card-body">
          <div *ngIf="operation == 'add'|| operation == 'edit'">
            
            <form [formGroup]="crudForm" >
                <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.dataType">
                        <div class="form-group"   *ngIf="!dataModel.readonly">
                            <label>{{dataModel.columnReference}} :</label>
                            <input *ngSwitchCase="'string'" type="text" class="form-control" 
                                    formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]"/>
                            <input *ngSwitchCase="'number'" type="number" class="form-control" 
                                formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]"/>
                      
                    </div>
                 <!--Alert-->
                     <!-- <div class="alert alert-danger" *ngIf="crudForm.controls['ref'].invalid && 
                                                    (crudForm.controls['ref'].touched || 
                                                    crudForm.controls['ref'].dirty) ">
                    Référence est obligatoire!!
                     </div> -->
                </div>
              
              <button class="btn btn-success" [disabled]="crudForm.pristine || crudForm.invalid"
                    (click)=" operation == 'add' ? add(): update()">
                    {{    operation == 'add' ? 'Ajouter':
                          operation == 'edit' ? 'Modifier': ''
                    }}
            </button>
        </form>
       
          </div>

          <!--******supprimer produit -->
          <div *ngIf="operation == 'remove'">
                <p class="card-title">
                      Référence: {{selectedItem.id}}
                </p>
                <p>
                  Voullez-vous supprimer cet élément?
                </p>
                <button class="btn btn-success"  
                        (click)="delete()" [disabled]="!selectedItem.id">Confirmer</button>
          </div>
        </div>
        <div class="card-footer">
         <!-- ******  footer -->
        </div>
      </div>
  </div>
</div>
</div>


</ng-container>
<!-- looding -->

<ng-template #loading>
    loading ......   //pas de données
</ng-template>
