
<div class="custom-file">
    <input type="file" id="customFile" name="UploadFile" #fileUploadInput (change)="selectFile($event)" accept=".csv">
    <label for="customFile" class="custom-file-label">{{fileName ? fileName : 'Choisissez un fichier!'}}</label>
</div>
<!--******************-->
<div class="checkout-wrap">
    <ul class="checkout-bar">
        <li [ngClass]="{active: currentStep == 1, visited: currentStep >1}" (click)="selectedStep = 1;">Importer un fichier</li>
        <li [ngClass]="{active: currentStep == 1, visited: currentStep >1}" (click)="selectedStep = 2;">Envoyer
           <!--  <a href="" data-toggle="collapse " (click)="currentStep = 3;" [ngClass]="{adisabled: currentStep !=2">
                <i class="fa fa-caret-square-o-right fa-lg" aria-hidden ="true"></i>
            </a> -->
        </li>
        <li [ngClass]="{active: currentStep == 3, visited: currentStep >3}" (click)="selectedStep=3;">Récupérer les données</li>
        
    </ul>
</div>

<div [ngSwitch]="selectedStep">
    <div *ngSwitchCase="1">
    
        <div *ngIf="dataArray"> <!-- ; else emptyData -->
            <!-- table pour afficher les données récupérer à partir du fichier.csv-->
                <table class="table table-hover">
                    <thead>
                        <tr class="thead-light">
                            <th *ngFor="let dataModel of dataModelListFiltred">{{dataModel.columnReference}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataArray">
                            <td *ngFor="let dataModel of dataModelListFiltred">{{item[dataModel.columnName]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div *ngIf="!dataArray">
           <p>Aucune données importée.</p> 
        </div> 
    </div>

    <div *ngSwitchCase="2">
        <div *ngIf="!dataSentToServer">
            <p>Cliquer pour envoyer les données au serveur.</p>
            <button class="btn btn-default" (click)="sendDataToServer()">Send Data</button>
        </div>
        <div *ngIf="dataSentToServer">
           <p>L'envoi est terminé .</p>
        </div> 
    </div>

    <div *ngSwitchCase="3">
        <div *ngIf="dataFromServer">
            <p>data from server here.</p>
            <table class="table table-hover">
                <thead>
                    <tr class="thead-light">
                        <th *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataFromServer">
                        <td *ngFor="let dataModel of dataModelList">{{item[dataModel.columnName]}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!dataFromServer">
                <p>Aucune Données récuperées.</p>
            </div> 
        </div>
    </div>
</div>


